
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

.nav-container{
  margin: 0;
  display: flex;
  width: 100%;
  background-color: gainsboro;
}
.App-nav ul{
  display: flex;
  flex-direction: row;
}
.App-nav li:hover{
  background-color:darkgrey
}
.App-nav li{
  list-style-type: none;
  margin-right: 40px;
}
.App-nav a{
  text-decoration:none;
  
}

.div-container{
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 14%;
  width: 20%;
  height: 40%;
  background-color:papayawhip

}
.bet-container,.bet-counter{
  margin: 1%;
  padding: 1%;
}